<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id = "messageService"
          class = "org.example.tutorial.backing.MessageServiceImpl">
    </bean>
    <bean class="org.example.tutorial.backing.UserData" id="userData"/>
    <bean class="org.example.tutorial.backing.AuthorServiceImpl" id="authorService"/>
    <bean class="org.example.tutorial.repository.AuthorRepository" id="authorRepository"/>
    <bean class="org.example.tutorial.utils.ConnectionUtils" id="connectionUtils"/>
    <bean id="message" class="org.example.tutorial.model.Message">
        <property name = "message" value = "Hello World!" />
    </bean>
</beans>