<Context>

    <Resource name="testdb" auth="Container"
              type="javax.sql.DataSource" driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://localhost:5432/testdb"
              username="user1" password="user1" maxTotal="-1" maxIdle="-1"
              maxWaitMillis="-1"/>
</Context>